fastapi>=0.103.0
uvicorn[standard]>=0.23.2
pydantic>=2.3.0
pydantic-settings>=2.0.3
httpx>=0.25.0
redis>=5.0.0
asyncpg>=0.28.0
pyjwt>=2.8.0
gunicorn>=21.2.0
passlib[bcrypt]>=1.7.4
firebase-admin>=6.2.0
